<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Alunos</title>
    </head>
    <body>
        <h1>Cadastro de Alunos</h1>
        <p>Quantidade de Alunos: {{ valorInicial }}</p>

        <button (click)="mudarValor()">Mudar valor</button>
        <button (click)="reiniciarValor()">Reiniciar valor</button>
        <button (click)="exibirTabela()">Exibir Tabela</button>
        
    </body>
</html>
